<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>OracleConnection</display-name>
    <servlet-name>OracleConnection</servlet-name>
    <servlet-class>OracleConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OracleConnection</servlet-name>
    <url-pattern>/OracleConnection</url-pattern>
  </servlet-mapping>
  <display-name>TravelAgency</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>PassengerSignup.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PassengerSignup</display-name>
    <servlet-name>PassengerSignup</servlet-name>
    <servlet-class>PassengerSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerSignup</servlet-name>
    <url-pattern>/PassengerSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassengerLogin</display-name>
    <servlet-name>PassengerLogin</servlet-name>
    <servlet-class>PassengerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerLogin</servlet-name>
    <url-pattern>/PassengerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/Main/PassengerMain/PassengerMain.css</url-pattern>
    <url-pattern>/Main/PassengerMain/BodyContent/AboutUsPage/AboutUsStyle.css</url-pattern>
    <url-pattern>/Main/PassengerMain/BodyContent/ProfilePage/ProfilePageStyle.css</url-pattern>
    <url-pattern>/Main/PassengerMain/BodyContent/TripsPage/TripsPageStyle.css</url-pattern>
    <url-pattern>/Main/PassengerMain/BodyContent/HomePage/HomePageStyle.css</url-pattern>
    <url-pattern>/Main/AdminMain/AdminMain.css</url-pattern>
    <url-pattern>/Main/AdminMain/TripsCRUD/createTrip.css</url-pattern>
    <url-pattern>/Main/PassengerMain/PassengerMainScript.js</url-pattern>
    <url-pattern>/LoginAndSignupForms/Passenger/Signup/PassengerSignupScript.js</url-pattern>
    <url-pattern>/Main/PassengerMain/BodyContent/HomePage/HomePageScript.js</url-pattern>
    <url-pattern>/Main/AdminMain/AdminMain.js</url-pattern>
    <url-pattern>/Main/Others/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentChanger</display-name>
    <servlet-name>ContentChanger</servlet-name>
    <servlet-class>ContentChanger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentChanger</servlet-name>
    <url-pattern>/ContentChanger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enrollment</display-name>
    <servlet-name>Enrollment</servlet-name>
    <servlet-class>Enrollment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enrollment</servlet-name>
    <url-pattern>/Enrollment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripsCRUD</display-name>
    <servlet-name>TripsCRUD</servlet-name>
    <servlet-class>Admin.TripsCRUD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripsCRUD</servlet-name>
    <url-pattern>/TripsCRUD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriversCRUD</display-name>
    <servlet-name>DriversCRUD</servlet-name>
    <servlet-class>Admin.DriversCRUD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriversCRUD</servlet-name>
    <url-pattern>/DriversCRUD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusesCRUD</display-name>
    <servlet-name>BusesCRUD</servlet-name>
    <servlet-class>Admin.BusesCRUD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusesCRUD</servlet-name>
    <url-pattern>/BusesCRUD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestinationsCRUD</display-name>
    <servlet-name>DestinationsCRUD</servlet-name>
    <servlet-class>Admin.DestinationsCRUD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestinationsCRUD</servlet-name>
    <url-pattern>/DestinationsCRUD</url-pattern>
  </servlet-mapping>
</web-app>